<div flex layout="column" layout-padding layout-align="space-around">
  <md-card layout-md layout-padding layout-align="center center">
    <table style="border-collapse: separate; border-spacing: 4em">
      <thead>

      <th>
        Booking ID
      </th>

      <th>
        Name
      </th>
      <th>
        Surname
      </th>
      <th>
        DNI
      </th>

      <th>
        Start Date
      </th>

      <th>
        End Date
      </th>
      </thead>
      <tbody>
      <tr style="margin: 40px ;" ng-repeat="booking in bookings track by booking.id">
        <td>
          {{booking.id}}
        </td>
        <td>
          {{clients[booking.client_id].name}}
        </td>
        <td>
          {{clients[booking.client_id].surname}}
        </td>
        <td>
          {{clients[booking.client_id].dni}}
        </td>
        <td>
          {{booking.start_date.toLocaleString().substring(0,10)}}
        </td>
        <td>
          {{booking.end_date.toLocaleString().substring(0,10)}}
        </td>
      </tr>
      </tbody>
    </table>
  </md-card>
  <div style="height: 400px"></div>
</div>
</div>
