<div flex layout="column" layout-padding layout-align="space-around">
  <div layout="row" layout-align="end center">
    <md-card layout-md>
      <div layout="row" layout-align="start center" layout-padding>
        <h3>Haz tu reserva ahora!</h3></div>
      <div layout="row" layout-align="start center" layout-padding>
        <div layout="column" layout-margin>
          <h5>Fecha de inicio: </h5>
          <md-datepicker ng-model="startDate" md-max-date="endDate" md-placeholder="Enter date"></md-datepicker>
        </div>
        <div layout="column" layout-margin>
          <h5>Fecha de finalización: </h5>
          <md-datepicker ng-model="endDate" md-min-date="startDate" md-placeholder="Enter date"></md-datepicker>
        </div>
      </div>
      <div layout="row" layout-align="end center" layout-padding>
        <md-button class="md-raised md-primary" ng-click="queryAvailabilities()">Consultar Disponibilidad</md-button>
      </div>

      <div layout="row" layout-align="center stretch">
        <div layout="column" layout-margin>
          <md-divider></md-divider>
          <div layout="row" layout-align="start center"
               ng-repeat="availability in availabilities track by availability.id">
            <div layout="column" layout-align="stretch start">

              <div layout="row" layout-align="space-between center">
                <div layout="column">
                  <h3><span>{{availability.room.name}} (disponibles {{availability.amount}})</span></h3>
                </div>
                <div layout="column" layout-align="space-around center">
                  <h3><span>Precio: {{availability.room.price}}</span></h3>
                </div>
              </div>

              <div layout="row" layout-align="start center">
                <h5>{{availability.room.description}}</h5>
              </div>

              <div layout="row" layout-align="space-between center">
                <div layout="column">
                  <h5><span>Capacidad: {{availability.room.adult_capacity}} adultos y {{availability.room.kid_capacity}} niños</span>
                  </h5>
                </div>
                <div layout="column">
                  <div layout="row" layout-align="end center">
                    <span><h4>Comprar: </h4></span>
                    <md-button class="md-fab md-mini md-primary"
                               ng-click="decreaseUnitsToBuy(availability)">-
                    </md-button>
                    <span><h4>{{availability.unitsToBuy}}</h4></span>
                    <md-button class="md-fab md-mini md-primary"
                               ng-click="increaseUnitsToBuy(availability)">+
                    </md-button>
                    <span><h4> unidades</h4></span>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

      <div layout="row" layout-align="center space-between" layout-padding>
        <div layout="column">
          <md-divider></md-divider>
          <div layout="row">
            <div layout="column" layout-margin>
              <md-input-container class="md-block" flex-gt-sm>
                <label>DNI</label>
                <input ng-model="client.dni">
              </md-input-container>
            </div>
            <div layout="column" layout-margin>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Nombre</label>
                <input ng-model="client.name">
              </md-input-container>
            </div>
            <div layout="column" layout-margin>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Apellidos</label>
                <input ng-model="client.surname">
              </md-input-container>
            </div>
          </div>
        </div>
      </div>

      <div layout="row" layout-align="center stretch">
        <md-button class="md-raised md-primary" ng-click="reservar()">Reservar</md-button>
      </div>

      <div layout="row" layout-align="center center">
        <ng-list>
          <span ng-repeat="error in errorMessage" g><h4 style="color : orangered; text-align: center">{{error}}</h4></span>
        </ng-list>
      </div>
    </md-card>
  </div>
  <div style="height: 200px"></div>
</div>
