<div flex layout="column" layout-padding layout-align="space-around">
  <md-card layout-md layout-padding layout-align="center center">
    <table>
      <thead>

      </thead>
      <tbody>
        <tr ng-repeat="literal in literals track by literal.id">
          <td>
            <label><h3>  {{literalType[literal.id]}}</h3></label>
          </td>
          <td>
            <md-input-container><input ng-model="literal.es"></md-input-container>
          </td>
          <td>
            <md-input-container><input ng-model="literal.en"></md-input-container>
          </td>
          <td>
            <md-input-container><input ng-model="literal.ca"></md-input-container>
          </td>
          <td>
            <md-button class="md-raised md-primary" ng-click="saveLiteral(literal)">Save</md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card>
  <div style="height: 400px"></div>
</div>
</div>
