<div flex layout="column" layout-padding layout-align="space-around">
  <md-card layout-md layout-padding ng-repeat="(id, room) in rooms track by id">
    <div layout="column" layout-align="stretch start">

      <div layout="row" layout-align="space-between center">
        <div layout="column">
          <h3><span>{{room.name}} (Code: {{room.code}})</span></h3>
        </div>
        <div layout="column" layout-align="space-around center">
          <h3><span>Precio: {{room.price}}</span></h3>
        </div>
      </div>

      <div layout="row" layout-align="space-between center">
        <div layout="column">
          <h5><span>Capacidad: {{room.adult_capacity}} adultos y {{room.kid_capacity}} niños</span>
          </h5>
        </div>
      </div>

      <div layout="row" layout-align="start center">
        <span><h4>Descripción:</h4><h5> {{room.description}}</h5></span>
      </div>

    </div>
    <div layout="column" layout-padding>
      <img src="http://blog.byhours.com/wp-content/uploads/2014/10/hotel-room-muy-grande.jpg"/>
    </div>
  </md-card>
</div>
<div style="height: 200px"></div>
</div>
