<html ng-app="HotelModule" ng-controller="SeoController" lang="{{lang}}">
<head>
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
</head>
<body>
<div layout="column" layout-align="stretch stretch">
  <md-toolbar layout="row" layout-padding layout-align="space-between center"
              style="height: 50px;padding:0px;margin:0px;position:fixed;">
    <div layout="column">
      <a href="#/"><h3>Hotel Paradise</h3></a>
    </div>
    <div layout="column">
      <div layout="row" layout-padding>
        <div layout="column">
          <a href="#/rooms" target="_self"><h4>Habitaciones</h4></a>
        </div>
      </div>
    </div>
  </md-toolbar>
  <div layout="row" style="height: 60px;">

  </div>
  <md-content ng-view layout="row" layout-align="space-around" id="content"
              style="background: url('https://ayorkshirelassinireland.files.wordpress.com/2015/01/clouise-10504-december-28-2013.jpg')"></md-content>
</div>
</body>

<!-- vendor -->
<script src="../assets/javascript/vendor/jquery-2.1.3.min.js"></script>
<script src="../assets/javascript/vendor/angular.js"></script>
<script src="../assets/javascript/vendor/angular-route.js"></script>
<script src="../assets/javascript/vendor/angular-resource.js"></script>

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

<!-- App -->
<script src="../assets/javascript/hotelModule.js"></script>
<script src="../assets/javascript/routes.js"></script>

<!-- Directives -->

<!-- Controllers -->
<script src="../assets/javascript/controllers/homeController.js"></script>
<script src="../assets/javascript/controllers/roomsController.js"></script>
<script src="../assets/javascript/controllers/backendController.js"></script>
<script src="../assets/javascript/controllers/marketingController.js"></script>
<script src="../assets/javascript/controllers/seoController.js"></script>


<!-- Filters -->

<!-- Services -->
<script src="../assets/javascript/services/availability.js"></script>
<script src="../assets/javascript/services/client.js"></script>
<script src="../assets/javascript/services/literals.js"></script>
<script src="../assets/javascript/services/rooms.js"></script>
<script src="../assets/javascript/services/booking-room.js"></script>
<script src="../assets/javascript/services/bookings.js"></script>
</html>